@tailwind base;
@tailwind components;
@tailwind utilities;


/* Regular font */
@font-face {
  font-family: 'Myanmar Sangam MN';
  src: url('fonts/MyanmarSangamMN.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Bold font */
@font-face {
  font-family: 'Bangala Sangam MN';
  src: url('fonts/bangla-sangam-mn.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
